<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-4 bg-light">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Project - Google and Local Login System!</h4>
        <p>
          Project exercises include using EJS, MongoDB, Passport.js,
          Authentication, OAuth (Google Login Setup).
        </p>
        <hr />
        <p class="mb-0">Learn how to make a website :D</p>
      </div>
    </div>
  </body>
</html>
